<!-- Definieren das der Inhalt gscrollt werden darf -->
<div class="scrollable">
    <div class="scrollable-content section">
        <h1>Product and Material Information</h1>
        <div class="single-chart-container">
            <div id="chartdiv"></div>
        </div>
        <br>
        <div class="single-chart-container">
            <div id="chartdiv2"></div>
        </div>
        <br>
        <div class="single-chart-container">
            Predicted material demand within the next
            <input type="number" name="input" ng-model="hours" min="0" max="99" required>hours with
            <input type="number" name="input" ng-model="machines" min="0" max="99" required>machines:

            <div ng-repeat="(key, value) in predictiveData">
                {{key}} : {{value}}
            </div>
        </div>
    </div>
</div>
